		</div>

		<hr>

		@@if (template === 'homepage') {
		<footer data-region="global-footer">
		}
		@@if (template !== 'homepage') {
		<div data-region="global-footer">
		}
			
			<div class="page-width">

				&copy; Hacknjazz Web App <span id="year"></span>
				
			    <script>
			      var year = new Date().getFullYear();
			      document.getElementById('year').innerHTML = year;
			    </script>
			</div>	
			
		@@if (template === 'homepage') {
		</footer>	
		}
		@@if (template !== 'homepage') {
		</div>
		}

	</div>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='https://www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>

		<!-- build:js /scripts/app.built.js -->
		<script data-main="/scripts/app.main" src="../bower_components/requirejs/require.js"></script>
		<script src="/scripts/require.config.js"></script>
		<!-- endbuild -->

  </body>

</html>