.swiper-container {
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	z-index: 1;
	cursor: default!important;
	[data-atom="swiper--arrow"] {
		z-index: 1;
		position: absolute;
		font-size: em(48);
		text-shadow: 2px 0 4px rgba(0,0,0,.5);
		color: white;
		top: 33%;
		font-family: $font__icon;
		padding: 20px;
		&.click-right {
			right: 0;
		}
		&.click-left {
			left: 0;
		}
		&.hide {
			display: none;
		}
	}
	&.initializing {
		.swiper-slide {
			@extend .none;
			&:first-child {
				@extend .block;
			}
		}
	}
}
.swiper-wrapper {
	position: relative;
	width: 100%;

	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	overflow: hidden;
}
.swiper-slide {
	display: inline-block;
	position: relative;
	.full {
		margin: 0 auto;
		display: block;
		width: 100%;
		max-width: 99.8%;
	}
}

.initialized {
	.swiper-slide {
		float: left;
	}
}


/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}