
@@include('./+includes/region__global-header.html', { "template": "index" })
  
  <div class="page-width">  
    <div class="grid">
		<div class="grid__cell">
			<h1>hacK'n Jazz Web App</h1>
		</div>  
		<div class="grid__cell unit-4-12 mobile__100">
			<h2>Comes with:</h2>
			<ul>
				<li>HTML5 Boilerplate</li>
				<li>Sass</li>
				<li>Fontello icons</li>
				<li>Modernizr</li>
				<li>jQuery</li>
				<li>Javascript Modules <span class="icon__firefox"></span></li>
			</ul>
		</div>  
		<div class="grid__cell unit-4-12 mobile__100">
			<h2>Templates:</h2>
			<ul>
				<li><a href="+templates/homepage.html">Homepage</a></li>
				<li><a href="+templates/styleguide.html">Styleguide</a></li>
			</ul>
		</div>
    </div>
  </div>

@@include('./+includes/region__global-footer.html', { "template": "index" })