
@@include('../+includes/region__global-header.html', { "template": "generic" })
	
	<main class="page-width">
		<div class="grid">
			<div class="grid__cell">
				<header>
					<h1>Styleguide</h1>
					<p class="subhead">Paragraph text with some <strong>bold text</strong> and some <em>italicized text</em> and some <u>underlined text</u> and some <strike>strikethrough text</strike>.&nbsp;</p>
				</header>	
				<p>Paragraph text with some <strong>bold text</strong> and some <em>italicized text</em> and some <u>underlined text</u> and some <strike>strikethrough text</strike>.&nbsp;</p>
				<h2 class="underlined full">Header 2</h2>
				<ul>
					<li>Unordered List Item 1</li>
					<li>List Item 2</li>
					<li>Item 3
						<ul>
							<li>Unordered List Item 1</li>
							<li>List Item 2</li>
							<li>Item 3</li>
						</ul>
					</li>
				</ul>
				<h3>Header 3</h3>
				<ol>
					<li>Ordered List Item 1</li>
					<li>List Item 2</li>
					<li>Item 3
						<ol>
							<li>Ordered List Item 1</li>
							<li>List Item 2</li>
							<li>Item 3</li>
						</ol>
					</li>
				</ol>
				<blockquote><p>This is a blockquote with some text in it.<br><cite>- Citation Text</cite></p></blockquote>
				<p>Now we need some <a href="http://google.com">linked text</a>, as well as some&nbsp;<sup>superscript</sup> text and some&nbsp;<sub>subscript</sub> text.</p>
				<table border="1" cellpadding="1" cellspacing="1" style="width: 500px;"><thead><tr><th scope="col">Here's</th>
					<th scope="col">a</th>
					<th scope="col">Table</th>
					<th scope="col">Header</th>
					</tr></thead><tbody><tr><td>With</td>
					<td>a</td>
					<td>first</td>
					<td>row</td>
					</tr><tr><td>And</td>
					<td>a</td>
					<td>second</td>
					<td>row</td>
					</tr><tr><td>And</td>
					<td>even a</td>
					<td>third</td>
					<td>row</td>
					</tr></tbody>
				</table>
					
				<ul class="link-list">
					<li>
						<a href="#">Anchor Link text Lorem Ispusm</a>
						<span class="description">
							List item lorem ipsum dolor commodo varius mi quis ullamcorper. In pretium consequat erat.commodo varius mi quis ullamcorper. In pretium consequat erat.
						</span>
					</li>
					<li>
						<a href="#">Anchor Link text</a>
						<span class="description">
							List item lorem ipsum dolor commodo varius mi quis ullamcorper.
						</span>
					</li>
					<li>
						<a href="#">Anchor Link text</a>
						<span class="description">
							List item lorem ipsum dolor commodo varius mi quis ullamcorper. In pretium.
						</span>
					</li>
				</ul>
			</div>
		</div>
	</main>	

@@include('../+includes/region__global-footer.html', { "template": "generic" })