[data-piece="modal"] {
	position: fixed; /* keeps the lightbox window in the current viewport */
	top: 0; 
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index: 100;
	text-align: center;
	margin: -100% 0 0 -100%;
	color: white;
	@extend .hidden;
	overflow: auto;
	.modal__content {
		width: 100%;
		height: 100%;
		position: absolute;
		// margin: 0 auto;
		// max-height: 100%;
		// display: table-cell;
		// vertical-align: middle;
		iframe {
			margin: auto;
		}
	}
	&.modal__revealed {
		@extend .shown;
		margin: 0;
	}
	.modal__close {
		font-size: 0;
		text-transform: capitalize;
		color: transparent;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 100;

		&:after {
			content: 'x';
			font-size: 55px;
			text-transform: none;
			text-shadow: 1px 1px 1px rgba(black,.6);
			color: $color__link;
		}
	}
	iframe {
		max-width: 100%;
	}
	@media screen and (max-height: 450px) {
		iframe {
			max-height: 100%;
		}
	}
}

	