[data-region="global-header"] {

	margin: $spacing-unit 0;

	[data-piece="main-navigation__logo"] {
		max-width: 200px;
		display: block;
		line-height: 0;
		
		span {
			@extend .screenreader;
		}
	}
}

