//
//styles for normal elements within the core/main content area of the page go here.
//


figure {
	margin: $spacing-unit 0;
	&.floatleft {
		margin: 8px percentage(40px/720px) $spacing-unit 0;
	}
	&.floatright {
		margin: 8px 0 $spacing-unit percentage(40px/720px);
	}
	&.floatleft,
	&.floatright {
		max-width: 50%;
	}
	figcaption {
		font-family: $font__sans-serif--italic;
		font-size: em(14);
		padding-top: 10px;
	}
	img {
		display: block;
	}
	&.full {
		margin: 0;
	}
}

blockquote {
	line-height: 1.4em;
	display: inline-block;
	font-size: em(24);
	font-family: $font__sans-serif--bold;
	width: auto;
	text-align: left;
	margin: 26px 0;
	position: relative;
	padding: 0 100px 0 120px;
	@include breakpoint(mobile) {
		padding: 0 50px 0 60px;
	}
	&:before,
	&:after {
		font-size: 10em;
		position: relative;
		line-height: 0;
		color: $color__link;
		position: absolute;
		//this specifically should be arial! not used anywhere else.
		font-family: Arial, sans-serif;
		text-shadow: 1px 1px 3px rgba(0,0,0,.7);
		@include breakpoint(mobile) {
			font-size: 5em;
		}
	}
	&:before {
		content: '\201C';
		left: 0;
		top: 102px;
		@include breakpoint(mobile) {
			top: 50px;
		}
	}
	&:after {
		content: '\201D';
		right: 0;
		bottom: -40px;
		@include breakpoint(mobile) {
			bottom: 0px;
		}
	}
	cite {
		font-size: .6em;
		line-height: 1em;
		display: block;
		margin-top: 15px;
		&:before {
			content: '\2013 ';
		}
	}
	&.floatright {
		width: percentage(290px/720px);
		padding: 0 0 40px percentage(22px/720px);
	}
}


section {
	//padding: 6px 0;
	&[data-region="global-body"] {
		padding: 35px 0;
	}
}

[data-region="global-body"] {

	i,
	em {
		font-style: normal;
	}
	
	cite {
		font-style: normal;
		font-family: $font__sans-serif;
	}

	b,
	strong {
		font-weight: normal;
		font-family: $font__sans-serif--bold;
	}


	h1 {
		font-family: $font__headers--bold;
		font-size: em(36);
		margin: $spacing-unit 0;
		a {
			font-family: $font__headers--bold;
		}
	}
	h2 {
		font-family: $font__headers--bold;
		a {
			font-family: $font__headers--bold;
		}
	}
	h3 {
	}
	h4 {
	}
	h5 {
	}
	h6 {
	}
	p {
		line-height: 150%;
		font-size: em(16);
		margin: $spacing-unit 0;
		a {
			font-size: inherit;
		}
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
		padding-top: 0;
	}

	.subhead {
		font-size: em(24);
		font-family: $font__headers;
		margin-top: 0;
		strong,
		b {
			font-family: $font__headers--bold;
		}

		&.uppercase {
			text-transform: uppercase;
			font-size: em(18);
		}
	}

	ul,
	ol {
		padding-left: 5%;
		clear: both;
		list-style: none;
		margin-left: 10px;
		line-height: 1.2em;
		li {
			margin: 10px 0;
			position: relative;
			font-size: em(16);
			&:before {
				font-size: em(27);
				font-family: $font__icon;
				line-height: 1em;
				content: '\2022';
				margin-left: -16px;
				padding-right: 7px;
				position: relative;
				top: 2px;
			}
			li,
			a {
				font-size: inherit;
			}
		}
		ul,
		ol {
			margin: 10px 0;
		}
		&.link-list {
			margin-left: 0;
			a {
				display: inline-block;
				width: 34%;
				vertical-align: text-top;
			}
			.description {
				display: inline-block;
				width: 62%;
				padding-left: 2.5%;
				margin-left: -3px;
				vertical-align: text-top;
				margin-top: 8px;
			}
			li {
				&:before {
					display: none;
				}
			}
		}
	}
	ol {
		counter-reset: my-badass-counter;
		li {
			&:before {
				content: counter(my-badass-counter) '.';
				counter-increment: my-badass-counter;
				font-size: 1em;
				top: 0;
			}
			li {
				&:before {
					content: counter(my-badass-counter, lower-alpha) '.';
					counter-increment: my-badass-counter;
				}				
			}
		}
	}

}

form {
	.form__row {	
        position: relative;
        margin: 15px 0;
	}
    fieldset {
    	border: 0;
    	width: auto;
    	position: relative;
    	padding: 0;
    	&.hiddenlabel {
    		label {
    			@extend .screenreader;
    		}
    	}
    }
    label {
    	//font-size: em(18);
    	margin-top: 12px;
    	margin-bottom: 5px;
    }
	legend {
		&:before {
			content: '';
			display: block;
			height: 12px;
		}
	}

    input[type="url"],
    input[type="password"],
    input[type="email"],
    input[type="search"],
    input[type="text"],
    textarea,
    select {
        outline: none;
    	border: none;
    	padding: 5px 8px;
    	color: $color__link;
    	font-size: em(16);
    	font-family: $font__sans-serif--bold;
    	background: white;
    }

    textarea {
    	height: 185px;
        width: 515px;
    }
    
	select {
		-webkit-appearance: menulist-button;
	}

}



table {
	border: 0;
	thead {
		th {
			font-size: em(24);
			text-transform: none;
			text-align: center;
		}
	}
	th {
		text-transform: uppercase;
	}
	td,
	th {
		max-width: 25%;
		border: 0;
		padding: 22px 2%;		
		text-align: center;
	}
}

