@font-face {
  font-family: 'fontello';
  src: url('../fonts/icons/fontello.eot?19669584');
  src: url('../fonts/icons/fontello.eot?19669584#iefix') format('embedded-opentype'),
       url('../fonts/icons/fontello.woff2?19669584') format('woff2'),
       url('../fonts/icons/fontello.woff?19669584') format('woff'),
       url('../fonts/icons/fontello.ttf?19669584') format('truetype'),
       url('../fonts/icons/fontello.svg?19669584#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/icons/fontello.svg?19669584#fontello') format('svg');
  }
}
*/
 
 [class^="icon__"]:before, [class*=" icon__"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon__search:before { content: '\e800'; } /* '' */
.icon__globe:before { content: '\e801'; } /* '' */
.icon__download-alt:before { content: '\e802'; } /* '' */
.icon__calendar:before { content: '\e803'; } /* '' */
.icon__chat:before { content: '\e804'; } /* '' */
.icon__twitter:before { content: '\e805'; } /* '' */
.icon__left-open:before { content: '\e806'; } /* '' */
.icon__right-open:before { content: '\e807'; } /* '' */
.icon__play:before { content: '\e808'; } /* '' */
.icon__cancel:before { content: '\e809'; } /* '' */
.icon__facebook:before { content: '\f09a'; } /* '' */
.icon__gplus:before { content: '\f0d5'; } /* '' */
.icon__linkedin:before { content: '\f0e1'; } /* '' */
.icon__circle:before { content: '\f111'; } /* '' */
.icon__newspaper:before { content: '\f1ea'; } /* '' */