
.icon__search:before { content: '\e800'; } /* '' */
.icon__globe:before { content: '\e801'; } /* '' */
.icon__download-alt:before { content: '\e802'; } /* '' */
.icon__calendar:before { content: '\e803'; } /* '' */
.icon__chat:before { content: '\e804'; } /* '' */
.icon__twitter:before { content: '\e805'; } /* '' */
.icon__left-open:before { content: '\e806'; } /* '' */
.icon__right-open:before { content: '\e807'; } /* '' */
.icon__play:before { content: '\e808'; } /* '' */
.icon__cancel:before { content: '\e809'; } /* '' */
.icon__facebook:before { content: '\f09a'; } /* '' */
.icon__gplus:before { content: '\f0d5'; } /* '' */
.icon__linkedin:before { content: '\f0e1'; } /* '' */
.icon__circle:before { content: '\f111'; } /* '' */
.icon__newspaper:before { content: '\f1ea'; } /* '' */