//
//color options
//

$color__yellow: #fef5b2;
$color__blue: #91bbed;
$color__red: #f79d85;
$color__red--dark: #f38f97;

$color__text: black;

$color__link: $color__red;
$color__link--interact: $color__red--dark;

$color__flair: $color__yellow;

$color__bg: white;

$color__border: $color__blue;

$color__twitter: #00aff0;
$color__google-plus: #e14929;
$color__facebook: #3b5998;
$color__linkedin: #0075b7;


//
//font options
//

$font__headers: Helvetica, Arial, sans-serif;
$font__headers--italic: Helvetica, Arial, sans-serif;
$font__headers--bold: Helvetica, Arial, sans-serif;
$font__headers--bold-italic: Helvetica, Arial, sans-serif;
$font__headers--light: Helvetica, Arial, sans-serif;
$font__headers--light-italic: Helvetica, Arial, sans-serif;

$font__sans-serif: Helvetica, Arial, sans-serif;
$font__sans-serif--italic: Helvetica, Arial, sans-serif;
$font__sans-serif--bold: Helvetica, Arial, sans-serif;
$font__sans-serif--bold-italic: Helvetica, Arial, sans-serif;

$font__icon: "Icomoon";

//
//path options
//

//what are our general paths?
$path__img: '../images/structure';

//
//spacing options
//

$spacing-unit: 20px;

//
//layout options
//

//what is the max page width?
$width__page-max: 1050px;
$width__page-min: 300px;

//what are some main break points?
//i created these widths based on the width each elements needs to adjust w/screensize, and named them appropriately

@mixin breakpoint($point) {
    @if $point == page-max {
        @media screen and (max-width: $width__page-max + 40) { @content; }
    }
    @if $point == anti-mobile {
        @media screen and (min-width: 720px + 1px) { @content; }
    }
    @if $point == mobile {
        @media screen and (max-width: 720px) { @content; }
    }
    @else if $point == tablet {
        @media screen and (max-width: 1050px) { @content; }
    }
    @else if $point == tiny {
        @media screen and (max-width: 580px) { @content; }
    }
}

//what should the grid gutter be?
$grid-gutter: 2.5%; // can be px, em, or %
.sidebar { float: left; }

//grid: partial, in order to overwrite the default gutter
@import "../../bower_components/griddle/griddle";

//what grid systems do we want?
@include griddle-build(12 10);

.grid__cell {
	word-wrap: break-word;

    @include breakpoint(tablet) {
        &.tablet__20 {
            width: 19.9%;
        }
        &.tablet__25 {
            width: 24.75%;
        }
        &.tablet__50 {
            width: 49.5%;
        }
        &.tablet__100 {
            width: 100%;
            display: block;
        }
    }
    @include breakpoint(mobile) {
        &.mobile__25 {
            width: 24.25%;
        }
        &.mobile__50 {
            width: 49%;
        }
        &.mobile__100 {
            width: 100%;
            display: block;
        }
    }
    @include breakpoint(tiny) {
        &.tiny__25 {
            width: 24.25%;
        }
        &.tiny__50 {
            width: 49%;
        }
        &.tiny__100 {
            width: 100%;
            display: block;
        }
    }
	//should the columns expand on nondesktops? 
	// @media (max-width: $bp__nondesktop) {
	// 	width: 100%;
	// 	display: block !important;   
	// }
}

//
//size options
//

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em
}


//
//sprites
//

/* $globalSprite-spacing: 10px;
$globalSprite-sprite-dimensions: true;
@import "globalSprite/*.png"; */


//
//z-index stuff
//
/* Note: Manage a comma delimited list of variables that relate to the z-index stacking order of elements on the page, ordered from lowest to highest. This allows us to easily change this order by moving the associated variable in the list instead of CSS in multiple locations.
 * Find some documentation on this technique on [Smashing Magazine](http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/).
 */

$globalIndex: modalHidden, bannerBackground, bannerContent, breadcrumbs, primaryNavDropDown, modalShown, modalClose;

/** Ex. Usage
.example {
  z-index: index($globalIndex, variable);
}
**/



//
//transitions
//

$transitioning__slow: .8s;
$transitioning__fast: .6s;
$transitioning__faster: .4s;
$transitioning__fastest: .2s;


//
//animations
//
@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */
 
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}