//
//regular typefaces
//

//sans-serif
/* @font-face {
	font-family: 'Maax Mono Regular';
	src: url('../fonts/maax-mono/205-maaxmono-webfont.eot');
	src: url('../fonts/maax-mono/205-maaxmono-webfont.eot#iefix') format('embedded-opentype'),
		 url('../fonts/maax-mono/205-maaxmono-webfont.ttf') format('truetype'),
		 url('../fonts/maax-mono/205-maaxmono-webfont.woff') format('woff');
); */
