//
//base global styles go here, shared by all "templates"
//

html {
	//overflow-y: auto;
}

body {
	font-family: $font__sans-serif;
	position: relative;
	margin: 0;
	img {
		max-width: 100%;
		height: auto;
	}
}

.overall-wrapper {
	//min-width: $width__page-default;

	.page-width {
		//min-width: $width__page-default;
	}
}

.page-width {
	min-width: $width__page-min;
	max-width: $width__page-max;
	margin: 0 auto;
	z-index: 1;
	box-sizing: border-box;
	@include breakpoint(page-max) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.browsehappy {
	background: black;
	color: white;
	margin: 0;
	padding: 10px;
}


//some extended classes
.alert {
	border: 1px solid $color__link--interact;
	background: tint($color__link--interact,75%);
	padding: $spacing-unit;
}

.absolute-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.pseudofill {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.hidden {
	opacity: 0;
	transition: opacity $transitioning__fast, margin $transitioning__fast $transitioning__fast;
}
.shown {
	opacity: 1;
	transition: opacity $transitioning__faster;
}
.none {
	display: none;
}
.block {
	display: block;
}
.filler {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

//hidden elements that have symantic value re: screenreaders
.screenreader {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
	clip: rect(1px, 1px, 1px, 1px);
}
//elements that are hidden in order to replace content w/background image
.hidetext {
	color: transparent;
	font-size: 0;
	text-transform: capitalize;
}

//common classes used to move and element or change its display
.relative {
	position: relative;
}
.centered {
	margin: 0 auto;
	display: block;
}
.aligncenter {
	text-align: center;
}
.inline {
	display: inline;
}
.overhidden {
	overflow: hidden;
}
.alignright {
	text-align: right;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}

.full {
	width: 100%;
	position: relative;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
}

.padding-left {
	padding-left: 4%;
}
.padding-right {
	padding-right: 4%;
}


body {
	> .grid {
		margin: 0 auto;
	}
}
.grid {
	> .grid {
		overflow: visible;
	}
}

figure {
	display: inline-block;
	position: relative;
}

.unit-2-12,
.unit-3-12,
.unit-4-12,
.unit-5-12,
.unit-6-12 {
	figure {
		width: 100%;
		img {
			width: 100%;
		}
	}
}
.unit-2-12,
.unit-3-12,
.unit-4-12,
.unit-5-12 {
	figure {
		&:first-child {
			margin-top: 0;
		}
	}
}

.mobile {
	display: none;
}
@include breakpoint(mobile) {
	.mobile {
		display: initial;
	}
	.desktop {
		display: none !important;
	}
}

//common typographical classes

a,
input[type="submit"],
input[type="button"] {
	text-decoration: none;
	transition: $transitioning__slow;
	&:hover {
		transition: .3s;
	}
	&.active {
		&:hover {
			cursor: default;
		}
	}

}

select {
	-webkit-appearance: menulist-button;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	line-height: 1em;
	&:first-child {
		margin-top: 0;
	}
}

.underline {
	text-decoration: underline;
}

i {
	&.icon {
		font-style: normal;
	}
}

.icon {
	span {
		position: absolute;
		clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
		clip: rect(1px, 1px, 1px, 1px);
	}
}

a {
	color: $color__link;
	font-family: $font__sans-serif--bold;
	&:hover {
		color: $color__link--interact;
	}
}

.button {
	min-width: 100px;
	padding: 10px 40px;
	border-radius: 10px;
	//fixes bug in chrome border radius overflow
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-align: center;
}

hr {
	height: 4px;
	overflow: hidden;
	border: 0;
	margin: $spacing-unit 0;
	clear: left;
	background: $color__border;
}

//placeholders
::-webkit-input-placeholder {
	color: $color__text;
}
:-moz-placeholder { /* Firefox 18- */
	color: $color__text;  
}
::-moz-placeholder {  /* Firefox 19+ */
	color: $color__text;  
}
:-ms-input-placeholder {  
	color: $color__text;  
}

//reusable visual styles

.padded {
	padding: 20px;
}

@mixin bg-color($color,$hex,$text,$hex2:"") {
	.bg__color--#{$color} {
		background: $hex;
		background: linear-gradient(to right, $hex 0%,#{$hex2} 100%);
		color: $text;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		p.subhead,
		.grid__cell blockquote:after,
		.grid__cell blockquote:before {
			color: $text;
		}
	}
	.corestyles {
		.bg__color--#{$color} {
			/* p.subhead {
				color: $text;
			} */
			ul,
			ol {
				> li {
					&:before {
						color: $text;
					}
				}
			}
		}
	}
}

@include bg-color(white,white,$color__text);
@include bg-color(yellow,$color__yellow,$color__text);
@include bg-color(red,$color__red,white);
@include bg-color(blue,$color__blue,white);